h1, h2{
color: #8cb9cc;
  font-family: 'Vollkorn', serif;
}
.page-header{
  color: #a7c9da;
  border: 4px solid #8cb9cc;
    text-align:left top;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
  height: 30px;
  padding: 5px;
   font-family: sans-serif;
}

.Co-creator, .Me{
text-align: left;
  font-size: 18px; 
  font-weight: bold;
font-family: 'Newsreader', serif;
}
/*-------------------------- START OF NAVBAR -----------------------------*/

.Nav{
  text-align: center;
display: inline;

}
ul{
  list-style-type: none;
margin:0; 
  padding: 0;
   font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.bl:hover{
background-color: #bcd4eb;
    transform: scale(1.09);
  border:1.5px #bcd4eb solid;
  border-bottom-color:#71a3d4;
  border-right-color:#71a3d4;
  box-shadow:1.5px 1.5px 1.5px #acc9e6;
  transition: .6s;
}
.bl{ 
  display: inline-block;
background-color: #adcae6;
    color: white;
  padding: 10px;
  text-decoration: none; 
  font-size: 20px; 
width: 100px;

}

.MS{
  border:2px solid #deebf0;
  border-bottom-color:#c1e3ff;
  border-right-color:#A8D7FF;
  box-shadow:2px 2px 2px lightgray;
}

.A-about{
  width:900px;
}

.T-about{
  width:1000px;
}
/*-------------------------- END OF NAVBAR -----------------------------*/

body{
background-color: #deebf0;

}
.text{
float: left;
  margin: 5px;
}
.logo{
  display: block;
 margin-left: auto;
  margin-right: auto;
  border:4px solid #f4faff;
  background-color:white;
  border-radius:25%;
  margin-bottom: 10px;
}

.A-pic {
  border-radius:90%;
  border:2px solid #99c1d2;
  position:relative;
  left:45px;
  }

.container{
  margin-left:20%
}



.ms{
margin-right: 70px;
  margin-left: 30px;
}
/*-------------------------- START OF FOOTER -----------------------------*/

.instagram{
border-radius:50%;  
}
.instagram:hover{
transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  transform:scale(1.05);
}

.copyright{
font-family: 'Newsreader', serif;
  text-align: center;
}
/*-------------------------- END OF FOOTER -----------------------------*/



/*-------------------------- START OF MEDIA QUERIES -----------------------------*/
@media screen and (max-width: 1000px){
  .OS{
    width:90%;
    height:90%;
  }
  .bl{
    display:block;
    width:100%;
    height:50px;
  }
  .Allison-About, .Tk-About{
  background-color:white;
  width:400px;
  height:550px;
  position:relative;
  left:0px;
    border:2px solid gray;
    border-radius:8%;

}
  
  .Allison-About{
      padding-bottom:50px;
  }
  
  .Tk-About{
  top: 60px;
  }
  .b-card{
  
  }
  
  .Co-creator{
background-color:;
  padding:10px;
  border-radius:25%;
   border-top-color:lightgray ;
}
.Me{
  padding-bottom:40px;
  }
   .Bottom-card{
    background-color:lightblue;
      border-bottom-left-radius:10%;
      border-bottom-right-radius:10%;
    padding-bottom:15px;
  }
  .About-A{
  text-align:center;
  border:1px solid blue;
    color:blue; 
}
  footer{
  margin-top: 40px;
  }
}
@media screen and (min-width: 1000px){
.A-pic{
  float: left;
    margin-right: 100px;
  }
}
/*-------------------------- END OF MEDIA QUERIES -----------------------------*/
